<!DOCTYPE html>
<html ng-app>
<head>
  <title>Hola Mundo</title>

  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
</head>
<body>
  <h1>{{'Hola'}} {{'Mundo'}}</h1>
</body>
</html>
