<!DOCTYPE html>
<html ng-app="CursoAngular">
<head>

  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>

  <script type="text/javascript" src="js/controller.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
  <title>{{'curso angularjs'}}</title>
</head>
<body>
<!-- <div ng-controller="MiControlador">
   <ul>
     <li ng-repeat="actividad in todo">
       {{actividad.descripcion}} - <b>{{actividad.fecha | date : 'short' }}</b>
       <button ng-click="eliminar(actividad)">Eliminar</button>
     </li>
   </ul>
   <form ng-submit="agregar()">
     <input type="text" ng-model="nuevaActividad.descripcion" />
     <input type="date" ng-model="nuevaActividad.fecha" />
     <input type="button" ng-click="setToday()" value="Now"/>
     <input type="submit" value="Agregar" />
   </form>

   <input type="number" ng-model="delayTime" ><input type="button" ng-click="alert(delayTime)" value="delay">
</div> -->


<div ng-view></div>
</body>
</html>
