<!DOCTYPE html>
<html ng-app="Repaso">
<head>
  <title>Hola Mundo</title>

  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="../lib/angular-ui/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>

  <script type="text/javascript" src="js/controller.js"></script>

  <style>
    .navbar-brand > img {
      height: 1em;
    }
  </style>
</head>
<body ng-controller="AppCtrl">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <img src="../img/logo_ingeneo.png" >
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="posts">Posts</a></li>
          <li><a class="users">Usuarios</a></li>
          <li><a class="users">To Do</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <section class="container">

    <ng-view></ng-view>
  </section>
</body>

<script  type="text/ng-template" id="post-list.html">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="post in posts">
      <h2>{{post.title}}</h2>
      <p>{{post.body}}</p>
      <a href="#/post/{{post.id}}">Ver mas</a>
    </li>
  </ul>
</script>
<script  type="text/ng-template" id="post-details.html">
  <h2>{{post.title}}</h2>
  <p>{{post.body}}</p>
  <p>
    <a ng-click="edit(post)" class="btn btn-primary" role="button">Editar</a>
    <a ng-click="delete(post)" class="btn btn-default" role="button">Eliminar</a>
  </p>
  <div ng-show="comments.length>0">
    <h3>Comentarios</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="comment in comments">
        <p>{{comment.body}}</p>
      </li>
    </ul>
  </div>
</script>
<script type="text/ng-template" id="edit-post.html">
  <div class="modal-header">
    <h2>{{title}}</h2>
  </div>
  <div class="modal-body">
    <form ng-submit="edit(newPost)">
      <div class="input-group">
        <input ng-model="newPost.title" type="text" class="form-control" placeholder="Título" >
      </div>

      <div class="input-group">
        <textarea ng-model="newPost.body" class="form-control" placeholder="Recipient's username" >
        </div>
        <div class="input-group">
          <datepicker ng-model="newPost.init"></datepicker>
          <datepicker  ng-model="newPost.end" min-date="newPost.init" date-disabled="!newPost.init"></datepicker>
        </div>

        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">.00</span>
        </div>
      </form>
    </div>
  </script>
  </html>
