<!DOCTYPE html>
<html ng-app="MyApp">
<head>

  <title>Ejemplo custom directives</title>

  <!-- Import Libraries -->

  <script type="text/javascript" src="../lib/jquery/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../lib/jquery-ui/jquery-ui.min.js"></script>

  <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>

  <script type="text/javascript" src="../lib/jqpuzzle/jquery.jqpuzzle.full.js"></script>

  <script type="text/javascript" src="js/directives.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>


  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap-theme.min.css">

  <link rel="stylesheet" type="text/css" href="../lib/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/jquery-ui/jquery-ui.theme.min.css">

  <link rel="stylesheet" type="text/css" href="../lib/jqpuzzle/jquery.jqpuzzle.css">

</head>
<body ng-controller="AppCtrl">


  <div round-image="../img/angular_bg1-3.png" ></div>


  <input type="text" placeholder="ingrese un nombre" my-autocomplete="nombres" my-autocomplete-target="nombreSeleccionado">

  <h1>Hola {{nombreSeleccionado}}</h1>



  <div my-puzzle-src="../img/angular_bg1-3.png"  my-puzzle=""></div>

</body>
</html>
